body ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.wrapper {
    margin: 20px auto;
    width: 80%;
    min-width: 600px;
    font-size: 0;
}
.wrapper ul {
    display: flex;
}
.wrapper ul li {
    position: relative;
    border: 3px solid pink;
    border-radius: 20px;
    margin: 0 3px;
    width: 200px;
    height: 200px;
    background: rgba(243, 230, 232, 0.7);
    overflow: hidden;
}
.wrapper ul li img {
    transition: transform 0.5s linear;
    transform: translateY(100%);
}
.wrapper ul li:nth-child(1) img {
    transition-delay: 0s;
}
.wrapper ul li:nth-child(2) img {
    transition-delay: 0.1s;
}
.wrapper ul li:nth-child(3) img {
    transition-delay: 0.2s;
}
.wrapper ul li:nth-child(4) img {
    transition-delay: 0.3s;
}
.wrapper ul li:nth-child(5) img {
    transition-delay: 0.4s;
}
.wrapper ul li .cover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.des {
    font-size: 15px;
    height: 30px;
    color: #fff;
    transform: translate(0, 100%);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8))
}
.wrapper .init li img {
    transform: translateY(0);
}
.wrapper ul li .cover .in-top,
.wrapper ul li .cover .out-top {
    transform: translate(0, 100%);
}
.wrapper ul li .cover .in-left,
.wrapper ul li .cover .out-left {
    transform: translate(-100%, 0);
}
.wrapper ul li .cover .in-right,
.wrapper ul li .cover .out-right {
    transform: translate(100%, 0);
}
.wrapper ul li .cover .in-bottom,
.wrapper ul li .cover .out-bottom {
    transform: translate(0, 100%);
}

.wrapper ul li .cover .in-top,
.wrapper ul li .cover .in-left,
.wrapper ul li .cover .in-right,
.wrapper ul li .cover .in-bottom {
    animation: inDes 0.3s linear forwards;
}
@keyframes inDes {
    100% {
        transform: translate(0, 0);
    }
}
.wrapper ul li .cover .out-left {
    animation: outLeft 0.3s linear;
}
@keyframes outLeft {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
.wrapper ul li .cover .out-top {
    animation: outTop 0.3s linear;
}
@keyframes outTop {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 100%);
    }
}
.wrapper ul li .cover .out-right {
    animation: outRight 0.3s linear;
}
@keyframes outRight {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}
.wrapper ul li .cover .out-bottom {
    animation: outBottom 0.3s linear;
}
@keyframes outBottom {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 100%);
    }
}